# ¿Que influyó en las muertes de pasajeros del Titanic?
 ¿La clase de pasaje? ¿La edad? ¿El costo del pasaje?

# Copie este notebook en su cuenta junto con los datos **titanic.csv** 
moodle de clase

In [ ]:
%cd  /Titanic

/Titanic

## Utilice estas librerías

In [ ]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text
import graphviz

## Lea el fichero de datos en un DataFrame de pandas **datos**

In [ ]:
datos=pd.read_csv('Titanic-Dataset.csv')
datos.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Investigue si hay datos erróneos o vacios con valor **Nan** y elimínelos

In [ ]:
X=datos[['Survived', 'Pclass','Age','Fare']].dropna()

## Con los datos límpios cree el conjunto de datos de entrenamiento
- **X** con las columnas 'Pclass','Age' y 'Fare'
- **y** con la columna 'Survived'

In [ ]:
y=X['Survived'] 
X=X.drop(['Survived'], axis=1) #quitamos la columna de los datos dependientes y así obtenemos los valores

## Cree el árbol de clasificación **Ad**

In [ ]:
#from sklearn.tree import DecisionTreeClassifier   esto no hace falta porque ya lo hemos hecho arriba
#from sklearn import tree      esto tampoco

Ad=DecisionTreeClassifier(criterion='gini',max_depth=5) #Creamos el árbol de decisión, en esta librería siempre se crea el modelo y después se ajusta
Ad=Ad.fit(X,y) #ajuste del modelo, aquí asignamos la x e y que hemos obtenido anteriormente

## Muestre árbol obtenido en forma de texto.

In [ ]:
r = export_text(Ad, feature_names=list(X.columns)) 
print(r)

## Exporte el árbol obtenido a un fichero **titanic.pdf**
Utilice la libreria graphviz

In [ ]:
dot_data = tree.export_graphiviz(Ad,out_file=None) #dentro de la librería, que el árbol creado se vuelva un grafo
graph = graphviz.Source(dot_data) 
graph.render("Titanic") #para pintarlo "render", debemos obtener un fichero pdf de titanic dentro de la carpeta.

## Muestre de forma enriquecida el árbol obtenido
Utilice la libreria graphviz

In [ ]:

dot_data = tree.export_graphviz(Ad,out_file=None,
                                feature_names=X.columns, 
                                class_names=['0','1'],
                                filled=True, rounded=True,
                                special_characters = True)
graph = graphviz.Source(dot_data)
graph

## ¿Que característas son las más influyentes o decisivas?

In [ ]:
l= list(zip(list(X.columns), Ad.feature_importances_)) #para hacer una lista de tuplas con sus características y la relevancia. 
print(l) #es interesante comprobarlo

## Realiza alguna inferencia.
Que propone para las filas 5 y 80 del Titanic.csv

In [ ]:
X.iloc[[5,80]]#qué pasa para el individuo de la fila 5 a la 80

In [ ]:
Ad.predict(X.iloc[[5,80]].values) #lo convertimos en un vector nunpi